.list {
  height: 25rem;
  display: flex;
  flex-direction: column;
}

.list:hover {
  opacity: 100% !important;
}

.list:not(:last-child) {
  margin: 0 0 1rem 0;
}

@media only screen and (min-width: 768px) {
  .list {
    height: 30rem;
    width: 48%;
  }

  .list:nth-child(even) {
    margin: 7rem 0 1rem 0;
  }
}

@media only screen and (min-width: 1280px) {
  .list {
    height: 36rem;
  }

  .list:nth-child(even) {
    margin: 8rem 0 1rem 0;
  }
}

@media only screen and (min-width: 1536px) {
  .list {
    height: 42rem;
  }

  .list:nth-child(even) {
    margin: 10rem 0 1rem 0;
  }
}

.link {
  height: inherit;
  display: block;
}

.desc {
  display: block;
  padding: 0.5rem 0 0 0;
}

.name {
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #d12245;
}

@media only screen and (min-width: 768px) {
  .name {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.tag {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #d12245;
}

@media only screen and (min-width: 768px) {
  .tag {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
