@tailwind base;
@tailwind components;
@tailwind utilities;
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

:root {
  --main-color: #fff;
  --accent-color: #d12245;

  --bg-main-color: #222;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  position: relative;
  background-color: #222;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  padding: 0 2rem;
  margin: 0 auto;
  width: 100%;
  height: inherit;
}

@media only screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 4rem;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 7rem;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media only screen and (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.modal-image {
  background-image: url(../src/assets/images/menu_bg.jpg);
}

.modal-open {
  overflow: hidden;
}

.hover {
  position: relative;
  padding-bottom: 0.2em;
  transition: opacity 0.3s;
  height: fit-content;
}

.hover:before,
.hover:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  height: 0.25rem;
  width: 0;
  background: #d12245;
}
.hover:before {
  left: 0;
  transition: width 0s ease, background 0.3s ease;
}
.hover:after {
  right: 0;
  transition: width 0.3s ease;
}
.hover:hover:before {
  width: 100%;
  background: #d12245;
  transition: width 0.3s ease;
}
.hover:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

.slug-page {
  opacity: 1 !important;
  transition: opacity 2s;
}
